@media (min-width: 992px) {
  /* 針對文章頁面的主要內容區塊進行對調 */
  .row.mx-auto {
    display: flex;
  }

  /* 將右側的導覽列 (TOC) 順序排到左邊 */
  .col-lg-3.d-none.d-lg-block.sidebar-col {
    order: 1 !important;
  }

  /* 將中間的文章內容順序排到右邊 */
  .col-lg-9.nopadding-x-md {
    order: 2 !important;
  }

  /* 讓左側導覽列與左邊界保持一點距離，並增加右邊距 */
  .sidebar-col {
  padding-right: 2rem !important;
  padding-left: 1rem !important;
  }
}