name: Hexo Deploy

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4 # 升級到 v4 更穩定
        with:
          submodules: true

      - name: Setup Node.js
        uses: actions/setup-node@v4 # 升級到 v4
        with:
          node-version: '20' # 嘗試使用最新的穩定版
          cache: 'npm' # 開啟快取功能，下次編譯會更快

      - name: Install Dependencies
        run: |
          npm install --no-audit --no-fund

      - name: Generate Files
        run: |
          npx hexo clean
          npx hexo generate

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          publish_branch: gh-pages